@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}


/* Mobile-friendly base adjustments */
body {
  overflow-x: hidden;
}

img, canvas, svg {
  max-width: 100%;
  height: auto;
}


